<div class="modal-dialog-scrollable" id="my-modal-body">
    <div class="modal-content">
        <div class="msg-head">
            <div class="row">
                <div class="col-8">
                    <div class="d-flex align-items-center">
                        {% if my_chat.product.owner.username == request.user.username %}
                            <span class="chat-icon">
                                <img class="img-fluid" src="{{my_chat.product.image.url}}" alt="image title"></span>
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="{{my_chat.product.image.url}}" style="width:45px;height:45px" alt="user img">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>{{my_chat.other_user.first_name}} {{my_chat.other_user.last_name}}</h3>
                                <p>{{my_chat.product.name}}</p>
                            </div>
                        {% else %}
                            <span class="chat-icon">
                                <img class="img-fluid" src="{{my_chat.product.image.url}}" alt="image title"></span>
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="{{my_chat.product.image.url}}" style="width:45px;height:45px" alt="user img">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>{{my_chat.product_user.first_name}} {{my_chat.product_user.last_name}}</h3>
                                <p>{{my_chat.product.name}}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4">
                    <ul class="moreoption">
                        <li class="navbar nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="modal-body" id="msg-body">
            <div class="msg-body" id="message-body">
                <ul>
                    {% for i in chat_messages %}
                        <li class="{% if request.user.username == i.message_user.username %}repaly{% elif request.user.username == i.other_user.username %}repaly{% else %}sender{% endif %}">
                            <p> {{i.message}} </p>
                            <span class="time">{{i.created}}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="send-box">
            <form  id="chat-form" action="{% if my_chat.product.owner == request.user %}/products/chat-get/{{my_chat.product.id}}/{{my_chat.id}}/{% else %}/products/chat/{{my_chat.product.id}}/{% endif %}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="message" id="message" aria-label="message…" placeholder="Write message…">

                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
            </form>

            <div class="send-btns">
                <div class="attach">
                    <div class="button-wrapper">
                        <span class="label">
                            <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/upload.svg" alt="image title"> attached file 
                        </span><input type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File" aria-label="Upload File">
                    </div>

                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Select template</option>
                        <option>Template 1</option>
                        <option>Template 2</option>
                    </select>

                    <div class="add-apoint">
                        <a href="#" data-toggle="modal" data-target="#exampleModal4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none"><path d="M8 16C3.58862 16 0 12.4114 0 8C0 3.58862 3.58862 0 8 0C12.4114 0 16 3.58862 16 8C16 12.4114 12.4114 16 8 16ZM8 1C4.14001 1 1 4.14001 1 8C1 11.86 4.14001 15 8 15C11.86 15 15 11.86 15 8C15 4.14001 11.86 1 8 1Z" fill="#7D7D7D"/><path d="M11.5 8.5H4.5C4.224 8.5 4 8.276 4 8C4 7.724 4.224 7.5 4.5 7.5H11.5C11.776 7.5 12 7.724 12 8C12 8.276 11.776 8.5 11.5 8.5Z" fill="#7D7D7D"/><path d="M8 12C7.724 12 7.5 11.776 7.5 11.5V4.5C7.5 4.224 7.724 4 8 4C8.276 4 8.5 4.224 8.5 4.5V11.5C8.5 11.776 8.276 12 8 12Z" fill="#7D7D7D"/></svg> Appoinment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
    $(function() {
        $('#chat-form').submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                success: function(response) {
                    // handle success response
                    //console.log(response);
                    $("#message-body ul").append(response);
                    $('#message').val("");
                    var scrollableDiv = document.getElementById('msg-body');
                    scrollableDiv.scrollTo({
                        top: scrollableDiv.scrollHeight,
                        behavior: 'smooth'
                    });
                },
                error: function(xhr, status, error) {
                    // handle error response
                    console.log(xhr.responseText);
                }
            });
        });
    });

    

    setInterval(function() {
        var chatId = '{{my_chat.id}}';
        $.ajax({
            url: '/products/check-for-new-objects/'+chatId+'/',
            success: function(response) {
                var newObjects = response.new_objects;
                console.log(newObjects)
                if (newObjects == 0) {

                }
                else{
                    $("#message-body ul").append(response);
                    var scrollableDiv = document.getElementById('msg-body');
                    scrollableDiv.scrollTo({
                        top: scrollableDiv.scrollHeight,
                        behavior: 'smooth'
                    });
                }
            },
            error: function(xhr, status, error) {
                console.log("h=getting error");
            }
        });
    }, 8000);
</script>